<link rel="stylesheet" href="{{ 'shipping-bar.css' |  asset_url }}">

<marmeto-shipping-bar-v2>
  <div class="shipping-bar" data-priceVal1="{{ settings.first_shipping_threshold }}" data-priceVal2="{{ settings.second_shipping_threshold }}" data-priceVal3="{{ settings.third_shipping_threshold }}" data-discCoupon1="{{ settings.first_threshold_message }}" data-discCoupon2 = "{{ settings.second_threshold_message }}" data-discCoupon3="{{ settings.third_threshold_message }}" data-finalThresholdMessage="{{ settings.final_threshold_message }}"> 

    <div class="shipping-bar__wrapper">
      <div class="shipping-bar__indicator">
      </div>
      <div class="shipping-bar__svgs">
            {% if settings.first_threshold_image %}
                <div class="shipping-threshold">
                    <div class="threshold-image">
                       {{ settings.first_threshold_image }}
                    </div>
                    {% comment %} <div class="first-threshold-message">{{ settings.first_threshold_message }}</div> {% endcomment %}
                </div>
            {% endif %}
            {% if settings.second_threshold_image %}
                <div class="shipping-threshold">
                    <div class="threshold-image">
                       {{ settings.second_threshold_image }}
                      </div>
                    {% comment %} <div class="threshold-message">{{ settings.second_threshold_message }}</div> {% endcomment %}
                </div>
            {% endif %}
            {% if settings.third_threshold_image %}
                <div class="shipping-threshold">
                    <div class="threshold-image">
                       {{ settings.third_threshold_image }}
                      </div>
                    {% comment %} <div class="third-threshold-message">{{ settings.third_threshold_message }}</div> {% endcomment %}
                </div>
            {% endif %}
        </div>
    </div>
  </div>
</marmeto-shipping-bar-v2>

